<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jcsobrino.tddm.uoc.sharetool">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ActiveAndroid configuracion-->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ShareTool.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="jcsobrino.tddm.uoc.sharetool.domain.User, jcsobrino.tddm.uoc.sharetool.domain.Tool" />


        <activity android:name=".view.ListToolsActivity"></activity>
        <activity
            android:name=".view.CreateUserActivity"
            android:label="Alta usuario"></activity>
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ToolDetailsActivity"></activity>

        <service
            android:name=".common.LocationService"
            android:enabled="true"
            android:exported="true"></service>

    </application>

</manifest>
